<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Details</title>
  {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <section class="navigation">
      <div class="nav-container">
       <!--  <div class="back">
          <a href="#">Hi {{user.username}}!</a>
        </div> -->
        <div class="back">
          <a href="/"><img src="{% static 'img/back.png' %}"  height="42" width="42" alt="" /></a>
        </div>
        <div class="brand">
          <a href="#">Hi {{user.username}}!</a>
        </div>
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">

            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/membership/roombooking">Book A New Room</a>
            </li>
            <li>
              <a href="/membership/logout">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
</body>
</html>